extends layout

// ====================================================================================================

mixin DropdownButton(name, id)
    li
        a.dropdown-button(href='#', data-activates='#{id}')
            | #{name}
            i.material-icons.right arrow_drop_down

mixin DropdownContent(id, contents)
    ul.dropdown-content(id='#{id}')
        each content in contents
            +NavItem(content[0], content[1])
    ul.dropdown-content(id='#{id}-mobile')
        each content in contents
            +NavItem(content[0], content[1])
            
mixin DropdownContentAdvanced(id, contents, suffix)
    ul.dropdown-content(id='#{id}')
        each content in contents
            +NavItem(content[0], content[1])
            +NavItem(content[0] + suffix[0], content[1] + suffix[1])
    ul.dropdown-content(id='#{id}-mobile')
        each content in contents
            +NavItem(content[0], content[1])
            +NavItem(content[0] + suffix[0], content[1] + suffix[1])

mixin NavDropdownButtons(buttons)
    ul.right.hide-on-med-and-down
        each button in buttons
            +DropdownButton(button[0], button[1])
    ul.side-nav#mobile-side-nav
        each button in buttons
            +DropdownButton(button[0], button[1] + '-mobile')
    
mixin NavItem(url, name)
    li
        a(href='/#{url}') #{name}
    
// ====================================================================================================    

block stylesheets
    link(rel='stylesheet', href='/css/index.css')

block content
    +DropdownContent('ss', [
        ['#ss', "일반 채팅"],
        ['#ss.notice', "공지사항"],
        ['#ss.report', "신고"]
    ])
    
    +DropdownContent('w', [
        ['#w.code', "프로그래밍"],
        ['#w.design', "디자인"],
        ['#w.compose', "작곡"],
        ['#w.video', "영상 컨텐츠"],
        ['#w.3d', "3D 그래픽"],
        ['#w.illust', "일러스트레이션"],
        ['#w.strategy', "기획"],
        ['#w.translate', "번역"],
        ['#w.engineer', "엔지니어링"]
    ])
    
    +DropdownContentAdvanced('p', [
        ['#p.1-1', "FLOW 프로젝트"],
        ['#p.12-2', "제노퍼스"],
        ['#p.13-1', "팀 리창인생"],
        ['#p.14-1', "NoCo"]
    ], ['.notice', " 공지"])
    
    +DropdownContent('h', [
        ['#h.technology', "기술"],
        ['#h.music', "음악"],
        ['#h.anime', "애니메이션"],
        ['#h.music-games', "리듬게임"]
    ])
    .navbar-fixed    
        nav.teal.lighten-1
            .nav-wrapper.container
                a.brand-logo(href='#') #{title}
                a.button-collapse(href='#', data-activates='mobile-side-nav')
                    i.material-icons menu
                +NavDropdownButtons([
                    ["일반", 'ss'], ["직군", 'w'], ["프로젝트", 'p'], ["관심사", 'h']
                ])
    
    .teal.darken-1
        .container
            .row
                .col.s12.m12.l10.offset-l1.flex-center
                    p.white-text.flex-grow
                        | Latest commit on GitHub:&nbsp;
                        a.teal-text.text-lighten-4(href='//#{repo}/commit/#{hash.trim()}') #{hash.trim().substring(0, 7)}
                        br
                        | This software is distributed under the&nbsp;
                        a.teal-text.text-lighten-4(href='http://www.gnu.org/licenses/agpl-3.0.html') GNU Affero GPL
                    a#github.waves-effect.waves-light.btn.teal.lighten-1(href='//#{repo}') GitHub
    
    .container
        .row
            .col.s12.m10.offset-m1.l10.offset-l1
                ul#chatRoom.collection

    #messageBox.white
        .row
            .col.s12.m8.offset-m2.l6.offset-l3.flex-center
                input#messageInput.flex-grow(type='text', autocomplete='off', placeholder='Message')
                button#messageSendButton.btn-floating.waves-effect.waves-light
                    i.large.material-icons send

// ====================================================================================================

block scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='/js/index.js')
