extends layout

block themeColor
    - var themeColor = '#26a69a';

mixin DropdownButton(name, id)
    li
        a.dropdown-button(href='#', data-activates='#{id}')
            | #{name}
            i.material-icons.right arrow_drop_down

mixin DropdownContent(id, contents)
    ul.dropdown-content(id='#{id}')
        each content in contents
            +NavItem(content[0], content[1])
    ul.dropdown-content(id='#{id}-mobile')
        each content in contents
            +NavItem(content[0], content[1])
            
mixin DropdownContentAdvanced(id, contents, suffix)
    ul.dropdown-content(id='#{id}')
        each content in contents
            +NavItem(content[0], content[1])
            +NavItem(content[0] + suffix[0], content[1] + suffix[1])
    ul.dropdown-content(id='#{id}-mobile')
        each content in contents
            +NavItem(content[0], content[1])
            +NavItem(content[0] + suffix[0], content[1] + suffix[1])

mixin NavDropdownButtons(buttons)
    ul.right.hide-on-med-and-down
        each button in buttons
            +DropdownButton(button[0], button[1])
    ul.side-nav#mobile-side-nav
        each button in buttons
            +DropdownButton(button[0], button[1] + '-mobile')

mixin NavItems(items)
    ul.right.hide-on-med-and-down
        each item in items
            +NavItem(item[0], item[1])
    ul.side-nav#mobile-side-nav
        each item in items
            +NavItem(item[0], item[1])


mixin NavItem(url, name)
    li
        a(href='/#{url}') #{name}

block stylesheets
    link(rel='stylesheet', href='/css/index.css')
waves-effect waves-light btn
block content
    if req.isAuthenticated()
        include ./includes/dropdown-contents
    
    .navbar-fixed    
        nav.teal.lighten-1
            .nav-wrapper.container
                a.brand-logo(href='#') #{title}
                a.button-collapse(href='#', data-activates='mobile-side-nav')
                    i.material-icons menu
                if req.isAuthenticated()
                    include ./includes/dropdown-buttons
                else
                    +NavItems([['auth/twitter', "Sign in with Twitter"]])

    if req.isAuthenticated()
        include ./includes/chat-room
    else
        include ./includes/index

block scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script.
        $(".dropdown-button").dropdown({ constrain_width: false, hover: true });
        $(".button-collapse").sideNav();
    if req.isAuthenticated()
        script(src='/js/index.js')
